<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<meta charset="UTF-8">
</head>
<body>
	<div id="response">	
		<div class="siteadder">
			<input type="text" placeholder="Site name" v-model="site_to_add"><button type="button" v-on:click="add(site_to_add, tags_to_add)">Add new site</button><button type="button" @click="update()">Update</button>
			<span>Tip: Create a new panel for each set of tags you wish to track within a single site: Continually changing tracked tags is not going to provide you what you want.</span>
			<input type="text" placeholder="Tags, like, this" v-model="tags_to_add"><span class="floatyboy"><button @click="store()">Click me to save cookies!</button><button onclick="eraseCookie('storage')">Click me to clear cookies.</button></span>
		</div>
		<div class="panel" v-for="site in sites" :key="site[3]" :id="'p'+site[3]">		<!-- Making our key a predefined id instead of index because of mutability or something, i don't know i read it on the internet -->
			<div class="tag-form" :id="'tf'+site[3]" style="display: none;">
				<label for="tags">Tags to include</label><input name="tags" type="text" placeholder="tags, like, this" :id="'tt'+site[3]"><button type="button" @click="editTags(site)">Apply</button>
				<p>You will need to update if you remove a tag but not if you add one.</p>
				<!-- tf is tag form, tt is tag text -->
			</div>
			<h2>{{ site[0] }}</h2><span class="floatyboy"><span @click="removeP(site)" style="font-weight:900;">X</span><button type="button" @click="toggleForm(site)">Edit Tags</button></span>
			<question-individual
			v-for="question in site[2]"
			v-bind:key="question.question_id"
			v-bind:q="question"
			></question-individual>
		</div>
	</div>
<!--Sorry these comments are bad I wanted them to be inline but HTML doesn't really support that. Try reading one line of code for each line of comment here for the entire response div.
response is our Vue enabled div, see var stack_response
v-for="(site, name) in sites" iterates where site is a value (one div for each value) and name is a key in the object sites. I don't know what key really does but vue insists we have it. @click is the on-click listener.
mustache notation, inserts value of var as text.
<question-individual></question-individual> is a custom vue component, represents one question.
v-for statement places one of these for each question in stack_response.response
v-bind creates a property and sets the value based on the javascript value assigned it. In this case, property q takes on the value of 'question' from the for loop.
-->
<script>
/* Cookies https://stackoverflow.com/questions/14573223/set-cookie-and-get-cookie-with-javascript */

function setCookie(name, value, days) {
	var expires = "";
	if (days) {
		var date = new Date();
		date.setDate(date.getDate() + days);	//https://stackoverflow.com/questions/14573223/set-cookie-and-get-cookie-with-javascript#comment85358408_24103596
		expires = "; expires =" + date;
	}
	document.cookie = name + "=" + (value || "") + expires + "; path=/";
}

function getCookie(name) {
	var nameEQ = name + "=";
	var ca = document.cookie.split(';');	//cookie array?
	for (let i = 0; i < ca.length; i++) {
		var c = ca[i];
		while (c.charAt(0)==' ') c = c.substring(1, c.length);
		if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
	}
	return null;
}

function eraseCookie(name) {
	document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/';
	console.log("Erased cookie:", name)
}

/* Stackdeck Stuff */
function templateReq(site, tags)																//template for http requests
{
	let str = `https://api.stackexchange.com/2.2/questions?order=desc&sort=creation&site=${site}`
	if (tags.length) {
		str = str + "&tagged=" + tags.join(';')
	}
	str = str + "&key=la7U6Db9EdwUIqRnnuNQug(("
	return str
}

function httpGetAsync(theUrl, callback)													//create http GET request to theUrl and call callback when the information is received. Got this from stack overflow.
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)		//if the GET request actually returns something good.
            callback(xmlHttp.responseText);											//call "callback" with the response as a parameter.
    }
    xmlHttp.open("GET", theUrl, true); 													// true for asynchronous.
    xmlHttp.send(null);
}

var stack_response = new Vue({																	//creates a Vue instance to be accessible from elements with the tag provided through el.
	el: "#response",
	data: {																												//data is retrievable from the instance as toplevel variables, meaning you can call update() instead of stack_response.update() or stack_response.data.update() (within the actual instance. Outside of the instance you can retrieve it like stack_response.update();)
		sites: [																										
			['stackoverflow', [], [], 1],
			['serverfault', [], [], 2]														//left these as examples while I work on being able to add your own programatically. Right now, there is stackoverflow, unix&linux, and database administrator.
																																//[site name (str), tags (array), response (array), id (type tbd)]	//site name is the domain or subdomain without stackexchange's root domain. So dba.stackexchange.com -> dba, serverfault.com -> serverfault.
		],
		update: function() {																				//function to get questions from each site added to this instance.
			for (let site of stack_response.sites) {
				httpGetAsync(templateReq(site[0], site[1]), function(ret) {Vue.set(site, 2, JSON.parse(ret).items);});			//0 = site name, 1 = tags, 2 = space for response
			}
			console.log("Updated");
		},
		filterTags: function(site) {								//the ultimate goal is to filter down the list of questions to the included tags without making a new HTTP request.
			let p = document.getElementById('p'+site[3]).getElementsByClassName("question");
			for (let q of p) {
				q.tags = q.children[0].children[2].innerText.match(/[^"\s\[\]\\,]+/g);
				if (site[1].every(val => q.tags.includes(val))) {
					q.style.display = "inline";
				} else {
					q.style.display = "none";
				}
			}
		},
		site_to_add: "",
		tags_to_add: "",
	},
	methods: {														//I'm going to be honest here, I'm not sure why any of these functions here need to be methods and not just functions in the data object.
		add: function(site_, t) {
			let tags = [];
			if (t === "") {																						//if string contains nothing AKA empty string shouldn't be the array!
				tags = [];
			} else {																									//if the string contains stuff. I guess.
				tags = t.split(", ");
			}
			this.sites.push([site_, tags, [], this.sites.length+1]);
			let site = this.sites[this.sites.length - 1];
			httpGetAsync(templateReq(site[0], site[1]), function(ret) {Vue.set(site, 2, JSON.parse(ret).items);});
			stack_response.site_to_add = '';
			stack_response.tags_to_add = '';
		},
		editTags: function(site) {
			let t = document.getElementById('tt'+site[3]).value;			//get tags string
			if (t === "") {																						//if string contains nothing AKA empty string shouldn't be the array!
				console.log("Converted empty string to empty array.");
				Vue.set(site, 1, []);
			} else {																									//if the string contains stuff. I guess.
				Vue.set(site, 1, t.split(", "));
			}
			this.filterTags(site);																		//Prune panel questions down to the requested tags.
			this.toggleForm(site);																		//disable opened form.
		},
		toggleForm: function(site) {
			let s = document.getElementById("tf" + site[3]);
			if (s.style.display === "none") {
				s.style.display = "block";
			} else {
				s.style.display = "none";
			}
		},
		removeP: function(site) {
			for (let i = 0; i < stack_response.sites.length; i++) {
				let s = stack_response.sites[i];
				if (s[3] === site[3]) {
					stack_response.sites.splice(i, 1);
				}
			}
		},
		store: function() {	//purify tables of response data, then save.
			let stuff = this.sites;
			for (let s of stuff) {
				s[2] = []; //clear out data -- we dont want to store a bajillion questions!
			}
			setCookie("storage", JSON.stringify(stuff), 1234);
			console.log("Saved to cookies:", stuff);
		},
		restore: function() { //restore storage
			this.sites = JSON.parse(getCookie("storage"));
			console.log("Restored from cookies:", JSON.parse(getCookie("storage")));
		}
	}
})

Vue.component('question-individual', {											//custom component to be called as a tag in HTML.
	props: ['q'],																							//a property inserted in the tag when called.
	template: `
	<div class="question">
		<p>
		<a target="_blank" :href="q.link">{{ q.title }}</a><br>
			{{ new Date(q.creation_date *1000).toLocaleString() }} <span class="tags">{{q.tags}}</span> <span :class="'answered'+q.is_answered">Answered: {{ q.is_answered}}</span>
		</p>
	</div>
	`																													//template is what is inserted for the tag. It must be a singular node (in this case div) with unlimited children. Mustache notation applies here and data is inherited from props.
})

if (getCookie("storage") !== null) {
	console.log("Cookies not null, restoring...");
	window.onload = stack_response.restore();
} else {
	console.log("No storage");
}
stack_response.update();
</script>
<style>
	body {
		background-color: #F18C61;
		color: #262626
	}
	.panel {
		background-color: #DBCCC0;
		width: 345px;
		height: 875px;
		overflow: auto;
		float: left;
		margin: 10px;
		padding: 5px;
	}
	a {
		color: #262626;
	}
	.answeredtrue {
		color: darkgreen;
	}
	.answeredfalse {
		color: red;
	}
	input {
		margin: 5px;
	}
	button {
		margin-left: 5px;
	}
	.floatyboy {
		float: right;
		clear: right;
	}
	h2 {
		display: inline;
	}
	.tag-form {
		
	}
	.siteadder {
		background-color: #D75D42;
		margin: -10px;
		padding: 15px;
		overflow: auto;
	}
</style>
</body>
</html>
